@import "../../../utils/globalbs.scss";

.MainRightPage{
  border: 1px black solid;
  top: 80px;
  position: sticky;

  @include media-breakpoint-down(md){
    top: 300px;
    position: fixed;
  }

  @include media-breakpoint-down(sm){
    position: static;
  }

  @include media-breakpoint-down(xs) {
    display: none;
  }

}