@import "../../../utils/globalbs.scss";

.MainRightPage {
  // border: 1px black solid;
  // top: 80px;
  // position: sticky;

  // @include media-breakpoint-down(md){
  //   // yoyoyo
  //   position: sticky;
  //   top: 80px;
  // }

  // @include media-breakpoint-down(sm){
  //   position: static;
  // }

  // @include media-breakpoint-down(xs) {
  //   display: none;
  // }

  flex: 1;
  border: 1px black solid;

  @include media-breakpoint-down(md){
    // order:2
    flex: 0;
    display: none;
  };

}