@import "../../../utils/globalbs.scss";

.MainRightPage{
  border: 1px black solid;
  top: 80px;
  position: sticky;

  @include media-breakpoint-down(md){
    top: 50%;
    position: fixed;
  }

  @include media-breakpoint-down(sm){
    position: static;
  }

}