@import "../../utils/globalbs.scss";

.MainPage{
  margin-top: 3.6rem;
  position: relative;
  background-color: yellow;
  border: 1px black solid;
  width: 100vw;

  @include media-breakpoint-up(lg){
    // .lg-sticky {
    //   display: flex;
    //   align-items: flex-start;
    // }
  };

}
