@import "../../../utils/globalbs.scss";
@import "../../../mixins.scss";

.MainLeftPage{
  position: sticky;
  top: 5.5rem;
  overflow: scroll;
  padding: 0 1px 1px 1px;
  height: calc(100vh - 5.5rem);

  @include media-breakpoint-down(sm){
    overflow: visible;
    height: auto;
  };
};