@import "../../../utils/globalbs.scss";
@import "../../../mixins.scss";

.MainLeftPage{
  position: sticky;
  top: 5.5rem;
  overflow: scroll;
  max-height: 500px;

  // @include view-pages
  // background-color: blue;
  padding: 0 1rem 1rem 1rem;

};