.SignInPage {

  .signup-names {
    width: calc(50% - 10px);
    display: inline-block;
    // border: 1px black solid;
    // background-color: yellow;
  }

  .signup-name-left {
    margin-right: 15x;
  }

  .signup-name-right {
    margin-left: 15px;
  }

};