@mixin view-pages {
  padding: 1rem;
  background-color: white;
  box-shadow: 0 0 1px rgba(122, 113, 113, 0.582);
  border-radius: 5px;
  font-size: 0.96rem;
  font-family: 'Lato', sans-serif;
  h5 {
    font-size: 1.15rem;
    font-weight: 900;
  }
  .main-font {
    // color: rgba(42, 42, 42, 0.787);
    color: black;
  }
  .hover-effect {
    &:hover {
      color: rgba(12, 89, 119, 0.568);
    };
    cursor: pointer;
  }
};

@mixin view-pages-announcement {
  background-color: white;
  box-shadow: 0 0 1px rgba(122, 113, 113, 0.582);
  padding: 1rem 0rem 0rem 1rem;
  border-radius: 5px;
  font-size: 0.96rem;
  font-family: 'Lato', sans-serif;
  h5 {
    font-size: 1.15rem;
    font-weight: 900;
  }
  .main-font {
    // color: rgba(42, 42, 42, 0.787);
    color: black;
  }
  .hover-effect {
    &:hover {
      color: rgba(12, 89, 119, 0.568);
    };
    cursor: pointer;
  }
};