@import "../../mixins.scss";

.AnnoucementComponent {
  @include view-pages-announcement;
  margin-top: 1px;
  margin-bottom: 1.5rem;

  .annoucement-wrapper {
    margin-bottom: 0.1rem;
    margin-left: 1rem;
    // cursor: default;
  }

  .announcement-component-scroll {
    height: 155px;
    max-height: 155px;
    overflow: scroll;
    width: 100%;
    padding-right: 1rem;
  }

};